@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/Open_Sans/OpenSans-Regular.ttf');
	font-size: 1em;
}

@font-face {
	font-family: 'OpenSans-Light';
	src: url('../fonts/Open_Sans/OpenSans-Light.ttf');
	font-size: 1em;
}

header {
	width: 100%;
	height: 150px;
	background-color: rgba(94,41,154,.8);
	z-index: 2; /*cria profundidade (header acima de backgroud)*/
	position: relative;
	
}

header .container{
	position: relative;
}

header .header-black{
	background-color: #000;
	height: 40px;


}

header .header-black li {
	background-image: url("../img/clubs.png");
	background-repeat: no-repeat;
	display: inline-block;
	margin: 4px;
} 


header .header-black li.club-01 {
	background-position: 0px 0px;

}

header .header-black li.club-02 {
	background-position: -48px 0px;

}

header .header-black li.club-03 {
	background-position: -96px 0px;
}

header .header-black li.club-04 {
	background-position: -140px 0px;
}

header .header-black li.club-05 {
	background-position: -192px 0px;
}

header .header-black li.club-06 {
	background-position: -240px 0px;
}

header .header-black li.club-07 {
	background-position: -288px 0px;
}

header .header-black li.club-08 {
	background-position: -336px 0px;
}

header .header-black li.club-09 {
	background-position: -380px 0px;
}

header .header-black li.club-10 {
	background-position: -432px 0px;
}

header .header-black li.club-11 {
	background-position: -480px 0px;
}

header .header-black li.club-12 {
	background-position: -528px 0px;
}

header .header-black li.club-13 {
	background-position: -578px 0px;
}

header .header-black li.club-14 {
	background-position: -628px 0px;
}

header .header-black li.club-15 {
	background-position: -672px 0px;
}

header .header-black li.club-16 {
	background-position: -716px 0px;
}

header .header-black li.club-17 {
	background-position: -768px 0px;
}

header .header-black li.club-18 {
	background-position: -808px 0px;
}

header .header-black li.club-19 {
	background-position: -857px 0px;
}

header .header-black li.club-20 {
	background-position: -900px 0px;
}

header .header-black li.club-21 {
	background-position: -948px 0px;
}

header .header-black li.club-22 {
	background-position: -1000px 0px;
}


header .header-black li a {
	height: 32px;
	width: 32px;
	display: block;

}

header #logotipo {
	position: absolute;
	top: 20px;

}

#menu {
	margin: 12px 0	;
}
#menu li {
	display: inline-block;
	font-family: 'OpenSans';
}

#menu li.search {
	width: 182px;
}

#menu li.search input {
	background-color:#5c2d90;
	color: #fff;
	border: none;
	height: 30px;
	line-height: 30px;
	padding: 8px;
}

/*menu li.search input::-webkit-input-placeholder {*/
#menu li.search ::-webkit-input-placeholder {
	color: #fff; /*rgba(255,255,255,0.5);*/
}

#menu li.search button {
	background: none;
	border: none; 
	position: absolute;
	right: 3px;
	top:7px;

}
#menu li.search button i {
	font-size: 14px;
	color: rgba(255,255,255,.5);
}
#menu li a {
	color: #FFF;
	font-size: 16px;
	padding: 10px 25px;
	font-weight: bold;
}

#menu li.search .input-group {
	top:8px;
}


#banner {

	width: 100%;
	height: 728px;
	position: relative;
	background : url("../img/banner.jpg") no-repeat;
	background-position: 0px -100px;
	top: -110px;

}

#banner h1 {
	color: #fff;
	top: 300px;
	position: relative;
	font-size: 	92px;
	text-shadow: 2px 2px 2px rgba(0,0,0,.45) ;
	font-family: 'OpenSans-Light';
	margin-left: 50px;
}

#banner h1 small {
	font-size: 32px;
	display: block;
	color: #fff;
	font-family: 'OpenSans';
	font-weight: bold;
}

#news {
	position: relative;
	top: -110px;
}
#news h1 {
	color:#5e2799;
	font-family: 'OpenSans-Light';
	font-size: 48px;
	text-transform: uppercase;
	text-align: center;
}

#news hr {
	border: #FDE192 solid 2px;
	width: 200px;
	margin: 0 auto;

}
#news .thumbnails {
	margin-top: 20px;
}

#news .thumbnails h3 {
	font-size: 18px;
	color: #5e2799;
	font-family: 'OpenSans';
	font-weight: bold;
	margin-bottom: 0;
}

#news .thumbnails time {
	color: #a7a7a7; 
	font-size: 18px;
	font-family: 'OpenSans';
}


#estatisticas {
	background-color: #5e2799;
	width: 100%;
	height: 200px;
	text-align: center; 
}

#estatisticas p{
	color: #fde092;
	text-transform: uppercase;
	font-family: 'OpenSans-Light';
	font-size: 64px;
	margin-top: 36px;
}

#estatisticas p small {
	color: #fff;
	font-size: 24px;
	display: block;
}
