@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/Open_Sans/OpenSans-Regular.ttf');
	font-size: 1em;
}
header {
	width: 100%;
	height: 150px;
	background-color: #5E299A;
	
}

header .container{
	position: relative;
}

header .header-black{
	background-color: #000;
	height: 40px;


}

header .header-black li {
	background-image: url("../img/clubs.png");
	background-repeat: no-repeat;
	display: inline-block;
	margin: 4px 8px 3px 1px;
}


header .header-black li.club-01 {
	background-position: 0px 0px;

}

header .header-black li.club-02 {
	background-position: -48px 0px;

}

header .header-black li.club-03 {
	background-position: -96px 0px;
}

header .header-black li.club-04 {
	background-position: -140px 0px;
}

header .header-black li.club-05 {
	background-position: -192px 0px;
}

header .header-black li.club-06 {
	background-position: -240px 0px;
}

header .header-black li.club-07 {
	background-position: -288px 0px;
}

header .header-black li.club-08 {
	background-position: -336px 0px;
}

header .header-black li.club-09 {
	background-position: -380px 0px;
}

header .header-black li.club-10 {
	background-position: -432px 0px;
}

header .header-black li.club-11 {
	background-position: -480px 0px;
}

header .header-black li.club-12 {
	background-position: -528px 0px;
}

header .header-black li.club-13 {
	background-position: -578	px 0px;
}

header .header-black li.club-14 {
	background-position: -628px 0px;
}

header .header-black li.club-15 {
	background-position: -672px 0px;
}

header .header-black li.club-16 {
	background-position: -720px 0px;
}

header .header-black li.club-17 {
	background-position: -768px 0px;
}

header .header-black li.club-18 {
	background-position: -808px 0px;
}

header .header-black li.club-19 {
	background-position: -857px 0px;
}

header .header-black li.club-20 {
	background-position: -900px 0px;
}

header .header-black li.club-21 {
	background-position: -948px 0px;
}

header .header-black li.club-22 {
	background-position: -1000px 0px;
}


header .header-black li a {
	height: 32px;
	width: 32px;
	display: block;

}

header #logotipo {
	position: absolute;
	top: 20px;

}

#menu {
	margin: 26px 0px;
}
#menu li {
	display: inline-block;
	font-family: 'OpenSans';
}

#menu li a {
	color: #FFF;
	font-size: 16px;
	padding: 16px 25px;
}