/* Tamanho padrão para tablets*/


@media only screen and ( max-width: 768px){
	.header-black ul {
		display: none;
	}

}


/* Tamanho padrão para smartphone */
@media only screen and ( max-width: 480px){
	.header-black ul, #menu {
		display: none;
	}

	#logotipo {
		left:32%;
	}	

	#btn-bars, #btn-search {
		color:#fff;
		font-size: 22px;
		position: absolute;
		top: 4px;
		background: none;
		border: none;
		display: block;
	}

	#btn-bars{
		left: 4px;

	}

	#btn-search {
		right:4px;
	}

	#banner {
		height: 317px;
		background-size: cover;
		background-position: 0;
		text-align: center;

	}

	#banner h1 {
		top:180px;
		font-size: 48px;
		margin-left: 0;
	}

	#banner h1 small {
		font-size: 22px;
	}


	#news h2 {
		font-size: 32px;
	}

	#news hr {
		border-width: 4px;
	}

	.owl-carousel .owl-wrapper-outer {
		margin-left: 20px;
	}


	.thumbnails {
		display: flex;
		text-align: center;
		align-items: center !important;
		justify-content: center !important;
		vertical-align: center;

	}


	#news .thumbnails .item-inner img {
		width: 85%;
		margin-left: 35px;
	}

	#btn-news-prev, #btn-news-next {
		background: none;
		border: none;
		color: #5e2699;
		font-size: 48px; 
		display: block;
		position: absolute;
		top: 130px;


	}

	#btn-news-prev {
		left: 0px;
		z-index: 2;

	}


	#btn-news-next {
		right: 0px;
	}

	#estatisticas {
		height: inherit;
	}
	#estatiscas p {
		margin-bottom: 40px;
		margin-top: 40px;
	}

	#call-to-action {
		border-width: 69px;
	}

	#call-to-action hr {
		border-width: 4px;
	}

	#call-to-action p {
		margin-top: 40px;
		margin-bottom: 40px;
		margin-left: 15px;
		margin-right: 15px;
	}

	#call-to-action h2 {
		font-size: 32px;
		margin-left: 10px;
		margin-right: 10px;
	}




	#call-to-action .btn {
		min-width: 138px;
	}


	#call-to-action .btn-roxo {
		float:left;
	}

	#call-to-action .btn-amarelo {
		float: right;
	}

	#call-toa-action .col-xs-6 {
		padding: 0;
	}


	footer {
		margin-top: 60px;
	}

	.copyright-mobile p {
		font-size: 10px;
		line-height: 0;
	}

	.copyright-mobile .pull-left {
		float : inherit ! important;
	}


	footer .row p {
		text-align: center;
		line-height: 20px;	
	}

	footer .row p: first-child {		
		margin-top: 10px;
	}

	footer .text-roxo {
		margin-right: 25px;

	}

	footer .row {
		margin:0;
	}


}
