/* Tamanho padrão para tablets*/


@media only screen and ( max-width: 768px){
	.header-black ul {
		display: none;
	}

}


/* Tamanho padrão para smartphone */
@media only screen and ( max-width: 480px){

	.header-black { /*fixa o header-blac  */
		position: fixed;
		top:0;
		width: 100%;
	}
	.header-black ul, #menu {
		display: none;
	}

	header #logotipo {
		left:32%;
		z-index: 6;
	}

	header.open-menu #logotipo {
		position: fixed;
		top: 50px;
		height: 76px;
		left: calc(40% -height*0.5);

	}	

	header #menu-mobile {
		position: fixed;
		top:40px;
		background-color: #fff;
		width: 80%; 
		height:100%; 
		left: -80%;
		transition: 1s;
		z-index: 5;
	}
	header.open-menu  #menu-mobile{
		left: 0;
	}

	header.open-menu #menu-mobile ul {
		position: relative;
		/*top:86px;*/
		padding:20px;
		padding-top: 100px;
	}
	header.open-menu #menu-mobile li {
		text-align: center;	
		border-top: #ccc 1px  solid;
		padding: 18px;
		display: block;
	}

	header.open-menu #menu-mobile li:last-child {
		border-bottom: #ccc 1px solid;
	}

	header.open-menu #menu-mobile li a {
		color:#633392;
		font-family: 'OpenSans';
		font-size: 16px;
		padding: 10px; 

	}

	header.open-menu #menu-mobile-mask {
		background-color: rgba(0,0,0,0.5);
		position: fixed;
		width: 100%; 
		height:100%;
		top:0;
		left: 0;
		z-index: 4;
	}

	header.open-menu  .bar-close {
		position: absolute;
		bottom:40px;
		height: 40px;
		background-color: #633392;
	}

	header.open-menu .bar-close .btn-close {
		background: none;
		border:none;
		color:#fff;
		font-size: 22px;
	}



	

	#btn-bars, #btn-search {
		color:#fff;
		font-size: 22px;
		position: absolute;
		top: 4px;
		background: none;
		border: none;
		display: block;
	}

	#btn-bars{
		left: 4px;

	}

	#btn-search {
		right:4px;
	}

	#banner {
		height: 317px;
		background-size: cover;
		background-position: 0;
		text-align: center;

	}

	#banner h1 {
		top:180px;
		font-size: 48px;
		margin-left: 0;
	}

	#banner h1 small {
		font-size: 22px;
	}


	#news h2 {
		font-size: 32px;
	}

	#news hr {
		border-width: 4px;
	}

	.owl-carousel .owl-wrapper-outer {
		margin-left: 20px;
	}


	.thumbnails {
		display: flex;
		text-align: center;
		align-items: center;
		justify-content: center;
		align-content: center;
		position: relative;
		top:0;
		right: 0;
		left: 0;
		bottom: 0;
		
		z-index: 0;

	}


	#news .thumbnails .item-inner img {
		width: 85%;
		margin-left: 30px;
	}


	.btn-news-container button {
		z-index: 1;
	}

	#btn-news-prev, #btn-news-next {
		background: none;
		border: none;
		color: #5e2699;
		font-size: 48px; 
		display: block;
		position: absolute;
		top: 130px;
		outline: 0;


	}

	#btn-news-prev {
		left: 0px;
	}


	#btn-news-next {
		right:15px;
	}

	#estatisticas {
		height: inherit;
	}
	#estatiscas p {
		margin-bottom: 40px;
		margin-top: 40px;
	}

	#call-to-action {
		border-width: 69px;
	}

	#call-to-action hr {
		border-width: 4px;
	}

	#call-to-action p {
		margin-top: 40px;
		margin-bottom: 40px;
		margin-left: 15px;
		margin-right: 15px;
	}

	#call-to-action h2 {
		font-size: 32px;
		margin-left: 10px;
		margin-right: 10px;
	}




	#call-to-action .btn {
		min-width: 138px;
	}


	#call-to-action .btn-roxo {
		float:left;
	}

	#call-to-action .btn-amarelo {
		float: right;
	}

	#call-toa-action .col-xs-6 {
		padding: 0;
	}


	footer {
		margin-top: 60px;
	}

	.copyright-mobile p {
		font-size: 10px;
		line-height: 0;
	}

	.copyright-mobile .pull-left {
		float : inherit ! important;
	}


	footer .row p {
		text-align: center;
		line-height: 20px;	
	}

	footer .row p: first-child {		
		margin-top: 10px;
	}

	footer .text-roxo {
		margin-right: 25px;

	}

	footer .row {
		margin:0;
	}

	footer .list-socials {
		position: absolute; 
		width: 100%;
		left: 0;
		top: 50px;
	}

	footer .col-md-10 {
		padding: 0;
	}
	footer .list-socials a {
		width:45px;
		height: 45px; 
		font-size:  16px;
		border-radius: 50%;
	}

	footer .list-socials i {
		font-size: 30px;
		margin:9px;
	}

	footer .row-cinza-claro {
		height: 157px;
	}

	footer .btn-footer {
		width: 100%;
		background-color: #11171d;	 
		height: 44px;
		line-height: 35 px;
	}


	footer .col-xs-6{
		padding: 0;  
		padding-right: 5px;
	}

	footer .col-xs-6:last-child {
		padding-right: 0px;
		padding-left: 5px;

	}

	footer .visible-xs {
		margin-top: -10px;
		margin-bottom: 10px;
	}

	footer .page-up {
		display: inline-block !important;
	}


}
